body{
	margin: 0;
	padding: 0;
	overflow-y: auto;
	background: #010101;
	color: #f7f7f7;
	font-family: "Helvetica";
	font-size: 2vw;
}

@media (max-width: 450px) {
  body {
    font-size: 10px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

#tiles
{
	margin: 0 auto;

	padding: 0;
	list-style: none;
	
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
}

#tiles > li{
	display: block;
	box-sizing: border-box;
	overflow: hidden;

	position: relative;
	z-index: 1;
	
	flex-shrink: 1;
	flex-grow: 1;
	flex-basis: 25%;

	/*outline:1px solid yellow;*/
}
#tiles > li a{
	display: block;
}

/*square flex hack*/
#tiles > li:before {
	content:'';
	float:left;
	padding-top:150%;
}

.cover {
	object-fit: cover;
	top: -2px;
	left: -2px;
	
	width: 102%;
	height: 102%;
	position: absolute;
}

.overlay {
	// background: rgba(0,0,0,.1);
	top: 0%;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1em;
	min-height: 200px;
	position:absolute;
	z-index: 1;
	color:white;
	background-color: rgba(0, 0, 0, .3);
	transition: all .4s ease;
	opacity: 0;
}

#tiles > li:hover .overlay{
	opacity: 1;
	// top: 0%;
	// background-color: rgba(0, 0, 0, 0.4);
}



/* project css */
#content{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	/*border: 1px solid yellow;*/
	position: relative;
}
.splash{
	background-color: pink;
	height: 50vw;
	max-height: 600px;
	flex-basis: 100%;
	overflow: hidden;
	position: relative;
}
.project-title{
	z-index: 1;
	position:absolute;
	bottom: 0px;
	left: 0px;
	margin: 0;
	padding: 15px 15px 0px 15px;
	font-size: 3em;
	background-color: white;
	color: black;
}
.info{
	background-color: white;
	flex-basis: 66.666%;

	color: black;
	padding: 15px;
	box-sizing: border-box;
}


.info p{
	margin-top: 0px;
}

.gallery{
	flex-basis: 33.33%;

	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;

	padding: 0;
	margin: 0;
	list-style: none;
}
.gallery li{
	flex-basis: 50%;
	overflow: hidden;
	display: block;
	position: relative;
	box-sizing: border-box;
}
.gallery > li:before {
	content:'';
	float:left;
	padding-top:100%;
}

@media (max-width: 450px) {
 /*.info {
    flex-basis: 50%;
  }
  .gallery{
  	flex-basis: 50%;
  }*/
  .gallery li{
  	flex-basis: 100%;
  }
}