/*
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Alfa Slab One', cursive;
font-family: 'Yantramanav', sans-serif;
font-family: 'Racing Sans One', cursive;
font-family: 'Archivo Narrow', sans-serif;
*/

body{
	margin: 0;
	padding: 0;
	overflow-y: auto;
	background: #010101;
	color: #f7f7f7;
	font-family: 'Yantramanav', sans-serif;
	font-size: 1.7vw;
}

#tiles
{
	margin: 0 auto;

	padding: 0;
	list-style: none;
	
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
}

#tiles > li{
	display: block;
	box-sizing: border-box;
	overflow: hidden;

	position: relative;
	z-index: 1;
	
	flex-shrink: 1;
	flex-grow: 1;
	flex-basis: 25%;

	/*outline:1px solid yellow;*/
}
#tiles > li a{
	display: block;
}

/*square flex hack*/
#tiles > li:before {
	content:'';
	float:left;
	padding-top:150%;
}

.cover {
	object-fit: cover;
	top: -2px;
	left: -2px;
	
	width: 102%;
	height: 102%;
	position: absolute;
}

.overlay {
	// background: rgba(0,0,0,.1);
	top: 0%;
	bottom: 0;
	left: 0;
	right: 0;
	padding: .3em; 
	min-height: 200px;
	position:absolute;
	z-index: 1;
	color:white;
	//background-color: rgba(0, 0, 0, .5);
	background: -webkit-linear-gradient(top, rgba(7,240,255,.4), rgba(241,0,164,.8));
	background: linear-gradient(top, rgba(7,240,255,.4), rgba(241,0,164,.8));
	transition: all .4s ease;
	opacity: 0;

	font-size: 2.1em;
	// font-weight: 300;
	font-family: 'Alfa Slab One', cursive;
	letter-spacing: .05em;
}

.overlay .subs{
	line-height:1.4em;
	display:block;
	font-size: .7em;
}

#tiles > li:hover .overlay{
	opacity: 1;
	// top: 0%;
	// background-color: rgba(0, 0, 0, 0.4);
}



/* project css */
#content{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	/*border: 1px solid yellow;*/
	position: relative;
}
.splash{
	background-color: pink;
	height: 50vw;
	max-height: 600px;
	flex-basis: 100%;
	overflow: hidden;
	position: relative;
}
.splash .back{
	border-radius: 100%;
	width: 3em;
	height: 3em;
	background-color: white;
	z-index: 2;
	position: absolute;
	top: 15px;
	left: 15px;
}

.info{
	background-color: white;
	flex-basis: 66.666%;
	flex-grow: 1;
	color: black;

	box-sizing: border-box;
	position: relative;
}
.info .offset{
	z-index: 1;
	position:relative;
	top: -3.65em;
	left: 0px;
}
.info .project-title-wrap{
	background-color: white;
	padding: 15px 15px 0px 15px;
	display: inline-block;
	display: -moz-inline-stack;
}
.info .project-title{
	font-family: 'Alfa Slab One', cursive;
	// font-weight: 700;
	// display: inline-block;
	margin: 0;
	margin-bottom: .1em;
	
	font-size: 4em;
	line-height: .9em;
	color: #07f0ff;

	/*gradient*/
	background: -webkit-linear-gradient(#07f0ff, #f100a4);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.info .project-copy{
	color: #f100a4;
	margin-left: 15px;
	margin-right: 15px;
}
.info .note{
	background-color: #07f0ff;
	color: #03646a;
	padding: 10px;
	margin-bottom: 1em;
}

.info p{
	margin-top: 0px;
	margin-bottom: 1em;
}

.gallery{
	flex-basis: 33.33%;

	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;

	padding: 0;
	margin: 0;
	list-style: none;
}
.gallery li{
	flex-basis: 50%;
	overflow: hidden;
	display: block;
	position: relative;
	box-sizing: border-box;
}
.gallery > li:before {
	content:'';
	float:left;
	padding-top:100%;
}

@media (max-width: 450px) {
  body {
    font-size: 9px;
  }
  .info .project-title{
  	font-size: 3em;
  }
  .gallery {
  	flex-basis: 100%;
  }
  .info {
  	flex-basis: 100%;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}