/*
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Alfa Slab One', cursive;
font-family: 'Yantramanav', sans-serif;
font-family: 'Racing Sans One', cursive;
font-family: 'Archivo Narrow', sans-serif;
*/

body{
	margin: 0;
	padding: 0;
	overflow-y: auto;
	background: #010101;
	color: #f7f7f7;
	font-family: 'Yantramanav', sans-serif;
	font-size: 1.7vw;
}

#tiles
{
	margin: 0 auto;

	padding: 0;
	list-style: none;
	
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
}

#tiles > li{
	display: block;
	box-sizing: border-box;
	overflow: hidden;

	position: relative;
	z-index: 1;
	
	flex-shrink: 1;
	flex-grow: 1;
	flex-basis: 25%;

	/*outline:1px solid yellow;*/
}
#tiles > li a{
	display: block;
}

/*square flex hack*/
#tiles > li:before {
	content:'';
	float:left;
	padding-top:150%;
}

.cover {
	object-fit: cover;
	top: -2px;
	left: -2px;
	
	width: 102%;
	height: 102%;
	position: absolute;
}

.overlay {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: .3em; 
	min-height: 200px;
	position:absolute;
	z-index: 1;
	color:white;
	background: -webkit-linear-gradient(top, rgba(7,240,255,.4), rgba(241,0,164,.8));
	background: linear-gradient(top, rgba(7,240,255,.4), rgba(241,0,164,.8));
	transition: all .4s ease;
	opacity: 0;

	font-size: 2.1em;
	font-family: 'Alfa Slab One', cursive;
	letter-spacing: .05em;
}

.overlay .subs{
	line-height:1.4em;
	display:block;
	font-size: .7em;
}
#tiles .intro{
	padding: .6em;
	background-color: #f100a4;
	/*background: -webkit-linear-gradient(#07f0ff, #f100a4);*/
	flex-basis: 50%;
/*	top: 0;
	bottom: 0;
	left: 0;
	right: 0;*/
	/*position: absolute;*/
}
#tiles li.intro:before  {
	content:'';
	float:left;
	padding-top:75%;
}
.intro .name{
	font-family: 'Alfa Slab One', cursive;
	font-size: 2.1em;
}
.intro .contact{
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 1em;
}
#tiles > li:hover .overlay{
	opacity: 1;
}



/* project css */
#content{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	background-color: white;
}
.splash{
	background-color: pink;
	height: 50vw;
	max-height: 600px;
	flex-basis: 100%;
	overflow: hidden;
	position: relative;
}
.splash .back{
	border-radius: 100%;
	width: 3em;
	height: 3em;
	background-color: white;
	z-index: 2;
	position: absolute;
	top: 15px;
	left: 15px;
}

.info{
	background-color: white;
	flex-basis: 75%;
	flex-grow: 0;
	color: black;

	box-sizing: border-box;
	position: relative;
	padding-bottom: 1.5em;
}
.info .offset{
	z-index: 1;
	position:relative;
	top: -3.65em;
	left: 0px;
	margin-bottom: -3.65em;
}
.info .no-title{
	padding-top: 15px;
}
.info .project-title-wrap{
	background-color: white;
	padding: 15px 15px 0px 15px;
	display: inline-block;
	display: -moz-inline-stack;
}
.info .project-title{
	font-family: 'Alfa Slab One', cursive;
	margin: 0;
	margin-bottom: .1em;
	
	font-size: 4em;
	line-height: .9em;
	color: #07f0ff;

	/*gradient*/
	background: -webkit-linear-gradient(#07f0ff, #f100a4);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.info .project-copy{
	color: #f100a4;
	margin-left: 15px;
	margin-right: 15px;
	line-height: 1.5em
}
.info .note{
	background-color: #07f0ff;
	color: #03646a;
	padding: 10px;
	margin-bottom: 1em;
}

.info p{
	margin-top: 0px;
	margin-bottom: 1em;
}

.gallery{
	flex-basis: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;

	padding: 0;
	margin: 0;
	list-style: none;
}
.gallery li{
	flex-basis: 25%;
	/*flex: 1 1 25%;*/
	overflow: hidden;
	display: block;
	position: relative;
	box-sizing: border-box;
}

.cta{
	background-color: white;
	color: #f100a4;
	text-transform: uppercase;
	position: relative;
	top:38%;
	/*display: inline;*/
	padding: .05em .2em;
	font-family: 'Alfa Slab One', cursive;
	font-size: 2em;
	width:4em;
	margin: 0 auto;
	text-align: center;
	pointer-events: none;
}
.gallery > li:before {
	content:'';
	float:left;
	padding-top:100%;
}

.gallery-full{
	flex-basis: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;

	padding: 0;
	margin: 0;
	list-style: none;
}
.gallery-full li{
	flex-basis: 100%;
	/*flex: 1 1 25%;*/
	overflow: hidden;
	display: block;
	position: relative;
	box-sizing: border-box;
}
.gallery-full > li:before {
	content:'';
	float:left;
	padding-top:50%;
}

.gallery li.full{
	flex-basis: 100%;
	/*flex: 1 1 25%;*/
	overflow: hidden;
	display: block;
	position: relative;
	box-sizing: border-box;
}
.gallery > li.full:before {
	content:'';
	float:left;
	padding-top:50%;
}
.gallery li.half{
	flex-basis: 50%;
	/*flex: 1 1 25%;*/
	overflow: hidden;
	display: block;
	position: relative;
	box-sizing: border-box;
}
.gallery > li.half:before {
	content:'';
	float:left;
	padding-top:100%;
}


/*featherlight overrides */

.featherlight.vimeo .featherlight-content,
.featherlight.image .featherlight-content {
  background: black;
  overflow: hidden;
  padding: 0;
  border: 0;
}
.featherlight.vimeo .featherlight-next,
.featherlight.image .featherlight-next {
  display: none;
}
.featherlight.vimeo .featherlight-previous,
.featherlight.image .featherlight-previous {
  display: none;
}
.featherlight.vimeo iframe,
.featherlight.image iframe {
  width: 90vw;
  height: 50.625vw;
  max-height: 90%;
}
.featherlight.vimeo .featherlight-close-icon,
.featherlight.image .featherlight-close-icon {
  left: 10px;
  top: 10px;
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background: rgba(23, 35, 34, 0.75);
  color: white;
  line-height: 36px;
  font-size: 24px;
  opacity: 0;
  transition: opacity .2s;
}
.featherlight.vimeo .featherlight-content:hover .featherlight-close-icon,
.featherlight.image .featherlight-content:hover .featherlight-close-icon {
  opacity: 1;
}


@media (max-width: 450px) {
  body {
    /*font-size: 10px;*/
    font-size: 3.4vw;
  }
  .info .project-title{
  	font-size: 3em;
  }
  .gallery {
  	flex-basis: 100%;
  }
  .info {
  	flex-basis: 100%;
  }
  #tiles > li{
  	flex-basis: 50%;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}